#ncc {
  display: flex;
  width: auto;
  position: relative;
  padding-top: 55px;
  min-height: fit-content;
  height: 100%;
  overflow: hidden;
}

#ncc .bg {
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  padding: 65px 0 10px;
  background-color: var(--secondary);
  background-image: url("../images/selfie2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#ncc .content {
  position: relative;
  min-height: 70vh;
  padding: 320px 100px 50px;
  font-size: 1.1rem;
  text-align: start;
  font-size: 1.1rem;
}

#ncc .content h1 {
  margin-bottom: 0;
  font-size: 2rem;
  color: var(--dark);
  text-align: center;
}

#ncc .content a {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
}

#ncc .content p {
  padding: 1em 0;
}

#ncc .content .action {
  display: flex;
  justify-content: center;
}

#ncc .content .action a {
  color: var(--bright);
}

@media (max-width: 992px) {
  #ncc .content h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  #ncc .content {
    padding: 80px 30px 20px;
  }

  #ncc .content h1 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: var(--dark);
    text-align: start;
  }

  footer {
    padding-top: 0;
  }
}
