#footer {
  padding: 0.8rem;
}

section .contato {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  color: var(--soft);
  background-color: var(--dark);
  justify-content: space-between;
}

section .contato p {
  font-size: 0.9rem;
}

section .contato a {
  color: var(--soft);
  text-decoration: none;
}

section .social {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: var(--soft);
}

section .social h4 {
  font-size: 1.17rem;
}

section .social a {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
  font-size: 1.17rem;
  color: var(--soft);
  text-decoration: none;
}

section .social .fa {
  font-size: 2rem;
  color: var(--primary);
  margin-right: 6px;
}

h1.footer {
  padding: 3rem 0 1.5rem;
  text-align: center;
  color: var(--primary);
}

iframe.endereco,
iframe.midias {
  overflow: hidden;
  height: 15rem;
  width: 100%;
}

iframe.midias {
  height: 25rem;
}

@media (max-width: 992px) {
  #footer {
    padding: 0.8rem;
  }

  /* section .contato {
    flex-direction: column;
    justify-content: start;
    width: 100%;
  } */

  section .contato .endereco,
  section .contato .redes {
    padding-top: 2rem;
    font-size: 1.1rem;
  }

  h1.footer {
    margin-bottom: 0;
    font-size: 1.2rem;
    text-align: start;
  }

  section .social {
    justify-content: start;
  }

  /* section .social a {
    margin-right: 0.9rem;
  } */

  section .social span {
    font-size: 0.9rem;
  }

  section .social h4 {
    margin-top: 20px;
  }

  iframe.endereco,
  iframe.midias {
    height: 45rem;
  }
}
