#cursilho {
  position: relative;
  display: flex;
  width: auto;
  /* flex-direction: column; */
  /* padding-top: 55px; */
  min-height: fit-content;
  /* height: 200vh; */
  overflow: hidden;
}

#cursilho .bg {
  /* display: flex; */
  position: relative;
  width: 100wv;
  /* width: 1920px; */
  /* height: auto; */
  padding: 65px 0 10px;
  background-color: var(--secondary);
  background-image: url("../images/cursilho.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#cursilho .content {
  position: relative;
  /* display: flex; */
  width: auto;
  height: fit-content;
  padding: 500px 100px 50px;
  font-size: 1.1rem;
  text-align: start;
}

#cursilho .content h1 {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  color: var(--dark);
  text-align: center;
}

#cursilho .content a {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
}

#cursilho .content p {
  padding-bottom: 1.2em;
}

#cursilho .content .action {
  display: flex;
  justify-content: center;
}

#cursilho .content .action a {
  color: var(--bright);
}

@media (max-width: 992px) {
  #cursilho .content h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  #cursilho .content {
    padding: 110px 30px 20px;
  }

  #cursilho .content h1 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: var(--dark);
    text-align: start;
  }

  footer {
    padding-top: 0;
  }
}
