.banner {
  position: relative;
  width: 100%;
  min-height: fit-content;
  background-image: url("../images/biblia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .content {
  position: relative;
  padding: 130px 80px;
  height: 100%;
  min-height: fit-content;
  max-width: 75%;
  color: var(--secondary);
  font-size: 1.1rem;
  transition: 0.3s;
  animation: 1s ease-out 0s 1 flash;
}

.banner .content h1 {
  font-size: 1.2rem;
  font-weight: 300;
}

.banner .content h2 {
  margin-left: -5px;
  color: var(--secondary);
  font-size: 8rem;
  font-weight: 700;
  line-height: 0.8em;
  text-transform: uppercase;
  transition: 0.3s;
}

.banner .content h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

.banner .content h4 {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.banner .content p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  padding-top: 1.2rem;
}

.action {
  margin: 30px 0;
}

.button {
  max-width: 50%;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  background-color: var(--primary);
}

.button a {
  color: var(--bright);
  text-decoration: none;
}

.button a:hover {
  transition: 0.3s;
  animation: 1s ease-out 0s 1 flash;
}

.banner .content h2:hover {
  transition: 0.3s;
  animation: 1s ease-out 0s 1 flash;
}

@keyframes flash {
  0% {
    color: var(--bright);
    text-shadow: 0 0 20px var(--bright);
  }
  100% {
    color: var(--secondary);
    text-shadow: none;
  }
}

@media (max-width: 992px) {
  .banner {
    background-size: contain;
  }

  .banner .content {
    padding: 90px 45px;
    max-width: 100%;
    color: var(--secondary);
  }

  /* header .content nav ul {
    line-height: 1.1rem;
    font-size: 0.9rem;
  }

  header .content nav ul li {
    padding-left: 0.3rem;
    padding-right: 0.7rem;
  } */

  .button {
    max-width: 40%;
  }
}

@media (max-width: 576px) {
  .banner .content {
    padding-left: 3.5rem;
  }

  .banner .content h2 {
    font-size: 3.5rem;
  }

  .banner .content h3 {
    margin-bottom: 20px;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }

  .banner .content h4 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }

  .banner .content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .button {
    max-width: 100%;
  }
}
