#horarios {
  position: relative;
  background-color: var(--secondary);
}

#horarios .bg {
  display: flex;
  width: auto;
  min-height: fit-content;
  height: 100%;
  padding: 0;
  padding-top: 85px;
  justify-content: center;
}

#horarios .bg .content {
  position: relative;
  min-height: 90vh;
  font-size: 1.1rem;
  text-align: left;
}

#horarios .content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#horarios .content table {
  font-size: 1.2rem;
}

#horarios .content tr {
  border-bottom: solid 2px var(--shadow);
}

#horarios .content th {
  font-weight: 600;
}

#horarios .content td {
  padding: 5px 0;
  padding-right: 40px;
}

#horarios .content a {
  color: var(--primary);
  font-size:1.2rem;
  font-weight: 600;
}

#horarios .content p {
  padding: 1em 0;
}

#horarios .content .action {
  display: flex;
  justify-content: center;
}

#horarios .content .action a {
  color: var(--bright);
}

@media (max-width: 992px) {
  #horarios .bg {
    padding: 0;
    background-color: rgb(185, 185, 185, 0.5);
  }

  #horarios .bg .content {
    left: 0;
    width: 100%;
    min-height: fit-content;
    padding: 4rem 0.8rem;
    font-size: 1.1rem;
  }

  #horarios .bg .content h1 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--dark);
  }
}

@media (max-width: 576px) {
  #horarios {
    max-height: fit-content;
  }
  
  #horarios .content a {
    font-size: 0.9rem;
  }

  #horarios .content table {
    color: var(--dark);
    font-size: 0.8rem;
  }
  
  #horarios .content th,
  #horarios .content td {
    text-align: left;
    padding: 5px;
  }
  
  #horarios .bg .content {
    left: 0;
    width: 100vw;
    text-align: start;
    color: var(--bright);
    margin-bottom: 30px;
  }

  #horarios .content h1 {
    font-size: 1.2rem;
  }
}
