.banner.mais {
  background-size: contain;
}

.banner .content.mais {
  max-width: 100% !important;
}

.banner .content h4.missao {
  font-weight: 700;
}

@media (max-width: 576px) {
  .banner .content.mais {
    border-bottom: solid 1px var(--soft);
  }

  .banner .content h4.missao {
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
}
